// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
// App
@import "products";
// Global
body {
  padding-top: 70px;
}

.admin-cat {
  float: left;
}

.delete-me {
  float: right;
}
.font-weight-bold {
  font-weight: bold;
}