  <tr>
    <td>
      <h4><%= @username.name %></h4>
      <br>
      <p><%= review.description %></p>
    </td>
     <td>
      <%= review.rating %>
    </td>
    <td>
    <p><%= review.updated_at %></p>
    </td>
  </tr>
